<footer>

  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-3 my-5">
        <h5 class="mb-3">Company</h5>
        <%= link_to 'Home', root_path %>
        <br>
        <%= link_to 'Privacy', privacy_path %>
        <br>
        <%= link_to 'Terms and Conditions', terms_path %>

        <% if !customer? %>
            <div class="mt-3">
              <%= link_to 'Go Pro!', pricing_path, class: 'btn btn-sm btn-primary' %>
            </div>
        <% end %>

        </ul>
      </div>

      <div class="col-sm-12 col-md-3 my-5">
        <h5 class="mb-3">Courses</h5>
        <% Course.all.each do |course| %>
            <%= link_to course.title, course %>
            <br>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-3 my-5">
        <h5 class="mb-3">Latest Posts</h5>
        <% Post.where(published: true).each do |post| %>
            <%= link_to post.title, post %>
            <br>
        <% end %>
      </div>

    </div>
  </div>

  <div class="text-center mt-5 pb-4">© <%= Date.current.year %> Nimble Labs, LLC</div>

</footer>