<% content_for :title do %>
    Learn to code and launch a new career with NimbleHQ
<% end %>

<div id="typed-strings">
  <p>You can... learn to code</p>
  <p>You can... build your own product</p>
  <p>You can... launch a new career!</p>
</div>

<div class="container-fluid svg-background" style="background-image: url('/confetti-doodles.svg');">
  <div class="container py-5">
    <div class="row d-flex align-items-center">
      <div class="col-sm-12 col-md-8 text-center">
        <h1 class="display-4">Build Something Great</h1>
        <h3>
          <span id="typed"></span>
        </h3>
      </div>

      <div class="col-sm-12 col-md-4">

        <div class="card p-3">

          <div class="font-weight-bold text-center f-md">Get Started For Free</div>

          <div class="text-center">
            <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block my-3' do %>
                <i class="fab fa-google"></i> &nbsp;&nbsp; Sign up with Google
            <% end %>
          </div>

          <h5 class="text-center">or</h5>

          <%= render 'shared/signup_form' %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid section">
  <div class="container pt-5">

    <h2 class="text-center">What is NimbleHQ?</h2>


    <div class="row">

      <div class="col-sm-12 col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <p class="card-text f-md">
              NimbleHQ is a learning platform with the mission of helping one million people learn
              something new. We seek to take complex topics and break them down into bit-sized ideas
              that are easier to comprehend.
            </p>

            <p class="card-text f-md">
              Our initial focus is on helping you learn to code. In today's
              economy demand has never been greater for programming skills and we believe if you really want to learn,
              it should be possible.
            </p>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

<div class="container-fluid light-background">
  <div class="container pt-5">

    <div class="row">

      <div class="col-sm-12 col-md-6 mb-5 section d-flex align-items-center">

        <h2 class="text-center">What makes NimbleHQ different?</h2>

      </div>

      <div class="col-sm-12 col-md-6 mb-5">

        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-primary"><i class="fas fa-brain"></i> Understanding</h5>
            <p class="card-text f-md">
              Once you <strong>fully understand</strong> an idea it becomes yours and no one can take it away from you.
              Our goal is to help you understand and we will continue to distill large ideas and frameworks it easily
              digestible bits.
            </p>

            <p class="card-text f-md">
              Our goal is to <strong>help you understand</strong> and we will continue to distill complex ideas into
              easily digestible bits.
            </p>

            <p class="card-text f-md">
              We are able to achieve this because of hard won knowledge built up over decades. So we can
              see what is important and help you navigate the learning landscape in a much shorter time.
            </p>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="container-fluid section">
  <div class="container pt-5">

    <h2 class="text-center mb-3">Your Instructor</h2>

    <div class="row">

      <div class="col-sm-12 col-md-8 mb-5">

        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center text-primary"><i class="fas fa-user-graduate"></i>
              <strong>Harris Reynolds</strong></h5>
            <!--<p class="card-text f-md">-->
            <!--Harris wrote his first program around the age of 10 on a Texas Instruments computer.  He started developing software professionally in 1998 working for PricewaterhouseCoopers and later returned to school to get a Masters in Software Engineering.  Harris was previously the CTO for Shipt where he helped architect and build (with lots of help) early versions of their mobile apps, the grocery delivery backend platform and the shopper scheduling system.  He's also consulting with many startups and large corporations to help them build better software.-->
            <!--</p>-->

            <!--<p class="card-text f-md">-->
            <!--<strong>Enough with the boring stuff though!</strong>-->
            <!--</p>-->

            <p class="card-text f-md">
              I have two great passions professionally: <strong>learning</strong> and <strong>teaching</strong>.
            </p>

            <p class="card-text f-md">
              I've always been curious and enjoyed learning. This is great because this is one of the most important
              characteristics you need to be successful building software.
            </p>

            <p class="card-text f-md">
              And I've also always enjoyed teaching. I've built NimbleHQ completely in the public in videos in order to
              share my knowledge with the world. Our first course is just the beginning.
            </p>

          </div>
        </div>

      </div>

      <div class="col-sm-12 col-md-4 mb-5 d-flex align-items-center">

        <img class="rounded-circle w-100" src="/harris-face-square.png">

      </div>
    </div>

  </div>
</div>


<div class="container-fluid light-background">
  <div class="container pt-5">

    <h1 class="text-center mb-5">Our First Course!</h1>

    <% course = @courses.first %>

    <div class="row">

      <div class="col-sm-12 col-md-6 mb-5">

        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><strong><%= course.title %></strong></h5>
            <p class="card-text f-md"><%= course.description %></p>
            <%= link_to 'View course', course, class: "btn btn-primary" %>
            <p class="card-text mt-3 text-muted "><%= course.units.count %> modules, <%= course.video_count %>
              videos</p>
          </div>
        </div>

      </div>

      <div class="col-sm-12 col-md-6 mb-5">
        <h5><strong>What You Will Learn</strong></h5>
        <ul class="list-group f-md">
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            The basics of Ruby on Rails</li>
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            How to use git</li>
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            How to deploy an application</li>
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            How to style a web page</li>
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            What MVC is and why it is useful</li>
          <li class="list-group-item"><i class="fas fa-check-circle text-success"></i>
            And lots more ... <%= course.video_count %> bit-sized videos!</li>

        </ul>

      </div>

    </div>


  </div>
</div>

<script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 40,
        backDelay: 1200,
        backSpeed: 20,
        smartBackspace: true // Default value
    });
</script>