<p id="notice"><%= notice %></p>

<p>
  Published? <%= @post.published %>
</p>

<h2><%= @post.title %></h2>

<div>
  <%= @post.content.html_safe %>
</div>


<%= link_to 'Edit', edit_admin_post_path(@post) %> |
<%= link_to 'Back', admin_posts_path %>
