<% content_for :title do %>
    <%= @lesson.title %> Lesson by NimbleHQ
<% end %>

<div class="container mt-3 mb-5">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to @lesson.unit.course.title, @lesson.unit.course, class: "breadcrumb-item" %>
      <%= link_to @lesson.unit.title, @lesson.unit, class: "breadcrumb-item" %>
    </ol>
  </nav>

  <h1><%= @lesson.title %></h1>


  <% if @lesson.free? || (@lesson.signed_up? && user_signed_in?) %>



      <% if @lesson.video.attached? %>

          <div class="row">
            <div class="col-sm-12 col-md-10">
              <video width="100%" controls>
                <source src="<%= url_for(@lesson.video) %>" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
            <div class="col-sm-12 col-md-2">

              <% if @lesson.prev? %>
                  <div class="card">
                    <div class="card-body">
                      <%= link_to @lesson.prev do %>
                          <h5 class="card-title"><%= @lesson.prev.title %></h5>
                          <div>previous lesson</div>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <% if @lesson.next? %>
                  <div class="card">
                    <div class="card-body">
                      <%= link_to @lesson.next do %>
                          <h5 class="card-title"><%= @lesson.next.title %></h5>
                          <div>next lesson</div>
                      <% end %>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>


      <% else %>

          <% if @lesson.prev? %>
              <%= link_to 'previous lesson', @lesson.prev, class: "btn btn-primary" %>
          <% end %>

          <% if @lesson.next? %>
              <%= link_to 'next lesson', @lesson.next, class: "btn btn-primary" %>
          <% end %>

      <% end %>

      <% if @lesson.content.present? %>

          <h1 class="mt-5">
            Notes
          </h1>

          <hr>

          <div class="lesson-content mt-5">
            <%= @lesson.content.html_safe %>
          </div>

      <% end %>
  <% else %>

      <h3 class="mt-5">
        This lesson requires you to sign up!!
      </h3>

      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary mt-3' %>

  <% end %>


</div>
