<% content_for :title do %>
    <%= @course.title %> Course
<% end %>

<div class="jumbotron jumbotron-fluid text-center hero-image d-flex align-items-center"
     style="background-image: url('<%= url_for(@course.image) %>');">
  <div class="container">
    <h1 class="display-4"><%= @course.title %></h1>
  </div>
</div>


<div class="container mt-5">

  <!--<nav aria-label="breadcrumb">-->
    <!--<ol class="breadcrumb">-->
      <!--<li class="breadcrumb-item"><a href="/">Home</a></li>-->
      <!--<li class="breadcrumb-item active" aria-current="page"><%= @course.title %></li>-->
    <!--</ol>-->
  <!--</nav>-->

  <h3>
    <%= @course.description %>
  </h3>


  <h1 class="my-3">Modules</h1>

  <div class="row">

    <% @course.units.each do |unit| %>

        <div class="col-md-3 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= unit.title %></h5>
              <%= link_to 'View module', unit, class: "btn btn-primary" %>
            </div>
          </div>
        </div>

    <% end %>

  </div>

</div>
