<p id="notice"><%= notice %></p>

<div class="container mt-5">

  <h1>Courses</h1>

  <div class="row">

    <% @courses.each do |course| %>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= course.title %></h5>
              <p class="card-text"><%= course.description %></p>
              <%= link_to 'Edit course', edit_admin_course_path(course), class: "btn btn-primary" %>
              <%= link_to 'Delete', admin_course_path(course), method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>

<br>

<%= link_to 'New Course', new_admin_course_path %>
