<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table table-bordered table-sm">
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, admin_course_path(course) %></td>
        <td><%= link_to 'Edit', edit_admin_course_path(course) %></td>
        <td><%= link_to 'Destroy', admin_course_path(course), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_admin_course_path, class: 'btn btn-primary my-3' %>
