<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render 'shared/header_elements' %>

  <% content_for :title do %>
      NimbleHQ Admin
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all' %>

  <%= stylesheet_link_tag 'trix', media: 'all' %>
  <%= javascript_include_tag 'trix' %>
  <%= javascript_include_tag 'photos' %>

  <style>
    .trix-content {
      min-height: 500px !important;
      overflow-y: auto;
    }
  </style>

</head>
<body>

<%= render 'shared/nav_menu' %>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Courses', admin_courses_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Units', admin_units_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Lessons', admin_lessons_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Posts', admin_posts_path, class: 'nav-link' %>
          </li>

        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 my-5 px-4">

      <%= yield %>

    </main>
  </div>
</div>

<%= render 'shared/footer' %>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>